@import './variables.scss';

.default-layout {
  width: 100%;
  padding: 0 1.04166666%; // 15px / 1440px
  padding-top: 60px;
  box-sizing: border-box;

  .layout {
    border-right: 2px solid $secondary-color;
    border-left: 2px solid $secondary-color;
  }
}

html, body, #__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  height: 100dvh;
  background-color: $bg-base;
  font-family: $body-font-base;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

input {
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: inherit;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  outline: none;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}
