// Colors
$bg-base: rgb(255, 255, 255);
$secondary-color: rgb(169, 169, 169);
$bg-color-opacity: rgba(0, 0, 0, 0.5);
$green: rgb(0, 100, 60);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(255, 76, 76);

// Sizes
$font-size-120: 7.5rem; // 120px
$font-size-90: 5.625rem; // 90px
$font-size-64: 4rem; // 64px
$font-size-54: 3.375rem; // 54px
$font-size-42: 2.625rem; // 42px
$font-size-40: 2.5rem; // 40px
$font-size-32: 2rem; // 32px
$font-size-30: 1.875rem; // 30px
$font-size-24: 1.5rem; // 24px
$font-size-20: 1.25rem; // 20px
$font-size-18: 1.125rem; // 18px
$font-size-16: 1rem; // 16px
$font-size-14: 0.875rem; // 14px

// Polices
$body-font-title: 'Bungee Shade', sans-serif;
$body-font-base: 'Bai Jamjuree', sans-serif;