@import '../variables.scss';

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  width: 100%;
  min-height: 70px;
  max-height: 70px;
  border-top: 2px solid $secondary-color;
  padding: 0 2.77777777%; // 40px / 1440px
  box-sizing: border-box;

  h4 {
    font-weight: 400;
    color: $secondary-color;
  }

  .reserved {
    display: flex;
    justify-content: flex-start;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: $white;

    .youtube {
      background-color: #DE3123;
    }

    .twitter {
      background-color: #5FA4E9;
    }

    .instagram {
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }

    .facebook {
      background-color: #3B5297;
    }

    .social-round {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50px;

      span {
        width: 12px;
        height: 12px;
      }
    }
  }

  .info {
    display: flex;
    justify-content: flex-end;
  }
}